<footer class="footer text-white bg-dark py-3 mt-auto">
    <div style="padding-inline: 10px;" class="container">Tejas Chaudhari
    <a class="git"style="float: right;" target="_blank" href="https://github.com/tejaschaudhari7/"><img width="25px" src="images/githubLogo.png" alt=""> GitHub</a></div>
</footer>